@import "colors.css";

/* --- Global Config --- */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 22px; 
    padding: 1px;
    font-weight: 600; 
    min-height: 0;
}

window#waybar {
    background-color: alpha(@surface_container_lowest, 0.60);
    border: 2px solid @primary;
    border-radius: 14px;
    color: @on_surface;
}

/* --- Workspaces --- */
#workspaces {
    background-color: @surface_container_high;
    margin: 6px 10px;
    border-radius: 12px;
    padding: 3px 5px;
}

#workspaces button {
    padding: 0 10px;
    color: @on_surface_variant;
}

#workspaces button.focused {
    color: @on_primary;
    background-color: @primary;
    border-radius: 8px;
}

#cpu, #memory, #disk, 
#pulseaudio, #backlight, 
#network, #bluetooth, 
#battery, #tray,
#custom-updates, #custom-updater, #custom-pacman {
    margin: 6px 3px;
    padding: 0 10px;
    border-radius: 10px;
}

#custom-logo {
	color: @primary;
}
#cpu, #memory, #disk {
    background-color: @primary_container;
    color: @on_primary_container;
}

#pulseaudio, #backlight {
    background-color: @secondary_container;
    color: @on_secondary_container;
}

/* --- Sliders (Merged & Circle Styles) --- */
#backlight-slider slider,
#pulseaudio-slider slider {
    min-height: 12px;
    min-width: 12px;
    opacity: 1;
    border-radius: 50%;
    
    background-color: @on_secondary; 
    
    background-image: none;
    border: none;
    box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-height: 16px; 
    min-width: 80px;
    border-radius: 10px;
    background-color: @surface_container_high; 
    
    margin: 8px 4px;
}

#backlight-slider highlight {
    border-radius: 10px;
    background-color: @secondary;
}

#pulseaudio-slider highlight {
    border-radius: 10px;
    background-color: @primary;
}


#custom-updates, #custom-updater, #custom-pacman {
    color: @on_secondary_container; 
    background-color: @secondary_container;
}

#pulseaudio, #bluetooth {
    background-color: @surface_tint;
    color: @background;
}

#clock {
    margin: 6px 3px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: @primary;
    color: @on_primary;
}

#battery {
    color: @on_primary_container;
}

#battery.critical:not(.charging) {
    background-color: @error;
    color: @on_error;
}

#idle_inhibitor {
	color: @primary;
	padding-right: 20px;
	padding-left: 10px;
}

#idle_inhibitor.activated {
	color: @error;
	background-color: @background;
}

#group-power {
	color: @outline;
	background-color: @on_secondary_fixed;
	border-radius: 12px ;
	margin: 6px 10px;
}

#custom-powermenu {
	padding:  0 0px;
}

#custom-suspend {
	color: @primary_container;
}

#custom-reboot {
	color: @secondary;
}

#custom-power {
	color: @error;
}

#custom-quit {
	color: @primary_fixed_dim;
}

#window {
    color: @primary;
    padding: 0 20px;
}

tooltip {
    background-color: @surface_container_high;
    border: 1px solid @outline;
	border-radius: 6px;
    font-family: "JetBrains Mono";
}
